@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Matter", sans-serif;
}
@keyframes scroll {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}

.animate-scroll {
  animation: scroll 10s linear infinite;
  display: flex;
  flex-direction: column;
  /* Duplicate content to make it loop seamlessly */
}

/* marquess */

.marquee-container {
  width: 100%;
  overflow: hidden;
}

.marquee {
  display: flex;
}

.marquee-scroll {
  font-family: "Matter", sans-serif;
  font-size: 64px;
  line-height: 0;
  color: #131518;
  display: flex;
  align-items: center;
  white-space: nowrap;
  animation: marquee 6s linear infinite;
}
.marquee-scroll-rev {
  font-family: "Matter", sans-serif;
  font-size: 64px;
  line-height: 0;
  color: #131518;
  display: flex;
  align-items: center;
  white-space: nowrap;
  animation: revmarquee 6s linear infinite;
}

.marquee-scroll img {
  height: 80px;
  padding: 0 16px;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes revmarquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.page-transition-circle-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 50;
}

.page-transition-circle {
  position: absolute;
  border-radius: 50%;
  background: rgb(23, 23, 23);
  transform: translate(-50%, -50%) scale(0);
  transition: opacity 600ms ease-in-out;
  animation: circle-expand 1s ease-out forwards;
}

@keyframes circle-expand {
  to {
    transform: translate(-50%, -50%) scale(1);
  }
}
